<link rel="stylesheet" href="./css/bootstrap.min.css">
<div class="container">

  <div class="card text-center">
    <div class="card-body">
      <h1>Control Financiero</h1>
      <img src='http://localhost:3000/uploads/icon.jpeg' class='img-fluid' style='max-width:80px'>
    </div>
  </div>
  <form method="POST" action="http://localhost:3000/api/v1/redirect/save" role="form" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="POST">
      <div class="mb-3">
        <label for="nombre" class="negrita">Nombre Deuda:</label>
        <div>
          <input class="form-control" placeholder="" required="required" name="nombre" type="text" id="nombre">
        </div>
      </div>
      <div class="mb-3">
        <label for="valor" class="negrita">Valor Deuda:</label>
        <div>
          <input class="form-control" placeholder="" required="required" name="valor" type="text" id="valor">
        </div>
      </div>
      <div class="mb-3">
        <label for="fecha" class="negrita">Fecha Deuda:</label>
        <div>
          <input class="form-control" required="required" name="fecha_deuda" type="date" id="fecha_deuda">
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="negrita">Descripcion de la deuda:</label>
        <div>
          <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="mb-3">
        <label for="productoDeuda" class="negrita">Producto Deuda</label>
        <div>
          <select name="productoDeuda" id="productoDeuda" class="form-select"></select>
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Guardar</button>
      <a href="/home" class="btn btn-warning">Cancelar</a>
  </form>
    
</div>
<script>
  fetch("http://localhost:3000/api/v1/redirect/productos").then(response => {
          if(response.ok) {
              return response.json();
          }
      }).then(data => {
          if(data) {
              const ar = data;
              const select = document.getElementById("productoDeuda")
              const option = document.createElement("option")
              option.value = ""
              option.innerHTML = "Por favor seleccione una opción"
              select.appendChild(option)
              ar.forEach((elem) => {
                const option = document.createElement("option")
                option.value = elem.id
                option.innerHTML = elem.nombre
                select.appendChild(option)
              })
           }
      }).catch(err => console.error(err)); 
  </script>