<link rel="stylesheet" href="./css/bootstrap.min.css">
<form method="POST" action="http://localhost:3000/api/v1/redirect/producto" role="form" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="POST">
    <div class="mb-3">
      <label for="nombre" class="negrita">Nombre:</label>
      <div>
        <input class="form-control" placeholder="Zapatos Marrones de Cuero" required="required" name="nombre" type="text" id="nombre">
      </div>
    </div>
    <div class="mb-3">
      <label for="precio" class="negrita">Precio:</label>
      <div>
        <input class="form-control" placeholder="4.50" required="required" name="precio" type="text" id="precio">
      </div>
    </div>
    <div class="mb-3">
      <label for="stock" class="negrita">Stock:</label>
      <div>
        <input class="form-control" placeholder="40" required="required" name="stock" type="text" id="stock">
      </div>
    </div>
    <div class="mb-3">
      <label for="img" class="negrita">Selecciona una imagen:</label>
      <div>
        <input name="img" type="file" id="img" required>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Guardar</button>
    <a href="/" class="btn btn-warning">Cancelar</a>
  </form>
  