<link rel="stylesheet" href="./css/bootstrap.min.css">
<div class="container">
  <section class="example mt-4">
    <div class="card text-center">
      <div class="card-body">
        <h1>Control Financiero</h1>
        <img id="img" class='img-fluid' style='max-width:300px'>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Producto : <p id="nombre"></p></h5>
    </div>
  </section>
  <a href="/productos" class="btn btn-warning mt-3">Volver</a>
</div>
<script type="text/javascript">
    var url = new URL(window.location.href);
    const id = url.searchParams.get("id");
    fetch("http://localhost:3000/api/v1/redirect/producto/" + id).then(response => {
      if (response.ok) {
        return response.json();
      }
    }).then(data => {
      if (data) {
        console.log(data);
        const ar = data;
        ar.forEach((elem) => {
          console.log(elem.precio)
          document.getElementById("nombre").innerHTML = elem.nombre;
          document.getElementById("img").src = "http://localhost:3000/uploads/" + elem.img;
        });
      };
    }).catch(err => console.error(err));
</script> 
</body>