<link rel="stylesheet" href="./css/bootstrap.min.css">
<section class="example mt-4">
    <h5>Nombre: </h5>
    <p id="nombre"></p>
   
    <h5>Precio: </h5>
    <p id="precio"></p>
   
    <h5>Stock: </h5>
    <p id="stock"></p>
   
    <h5>Imagen: </h5>
    <div class="row">
      <div class="col-md-3">
        <img id="img" class="img-fluid">
      </div>
    </div>
   
  </section>
  <a href="/" class="btn btn-warning mt-3">Volver</a>
  <script type="text/javascript">
    var url = new URL(window.location.href);
    const id = url.searchParams.get("id");
    fetch("http://localhost:3000/api/v1/productos/" + id).then(response => {
      if (response.ok) {
        return response.json();
      }
    }).then(data => {
      if (data) {
        console.log(data);
        const ar = data;
        ar.forEach((elem) => {
          console.log(elem.precio)
          document.getElementById("nombre").innerHTML = elem.nombre;
          document.getElementById("precio").innerHTML = elem.precio;
          document.getElementById("stock").innerHTML = elem.stock;
          document.getElementById("img").src = "http://localhost:3000/uploads/" + elem.img;
        });
      };
    }).catch(err => console.error(err));
  </script>
 
</body>